@charset "utf-8";

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

#container {
   position: relative;
   height: 100%;
   width: 100%;
   overflow: hidden;
}

#aside {
   position: absolute; /* relative로 하는 것도 이쁘다 */
   top: 0;
   bottom: 0;
   left: 0;
   width: 25%;
   border-right: 1px solid #a7a7a7;
   background-color: #fff;
}

#asideContent {
   height: 100%;
   position: relative;
   z-index: 3;
}

#asideTop {
   position: relative;
   overflow: auto;
   height: 85%;
}

#asideBottom {
   position: relative;
   height: 10%;
}

#content {
   height: 100%;
   position: relative;
   left: 25%;
   overflow: hidden;
}

div {
   display: block;
}

tr {
   padding: 30px;
}

#resetBtn {
   float: right;
   margin: 5px;
   padding: 5px;
}

#nextBtn {
   float: right;
   margin: 5px;
   padding: 5px;
}

#preBtn {
   float: left;
   margin: 5px;
   padding: 5px;
}

#list {
   margin: 5px;
   padding: 5px;
}

.text-center{
   text-align: center;
}
.loadingImg{
   margin-top:40%;
}