@charset "utf-8";

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

#container {
   position: relative;
   height: 100%;
   width: 100%;
   overflow: hidden;
}

#aside {
   position: absolute; /* relative로 하는 것도 이쁘다 */
   top: 0;
   bottom: 0;
   left: 0;
   width: 25%;
   border-right: 1px solid #a7a7a7;
   background-color: #fff;
}

#asideContent {
   height: 100%;
   position: relative;
   z-index: 3;
}

#asideTop {
   position: relative;
   overflow: auto;
   height: 85%;
}

#asideBottom {
   position: relative;
   height: 10%;
}

#content {
   height: 100%;
   position: relative;
   left: 25%;
   overflow: hidden;
}

div {
   display: block;
}

tr {
   padding: 30px;
}

#resetBtn {
   float: right;
   margin: 5px;
   padding: 5px;
}

#nextBtn {
   float: right;
   margin: 5px;
   padding: 5px;
}

#preBtn {
   float: left;
   margin: 5px;
   padding: 5px;
}

#list {
	margin: 5px;
	padding: 5px;
}

.text-center{
	text-align: center;
}
.loadingImg{
	margin-top:40%;
}
.wrap { 
	position:relative; /*감싸는 레이어에 포지션 속성을 잡아주는 게 필수!(relative, absolute, fixed 중 택1*/ 
	text-align:center;
}
.over { 
	position:absolute; 
	top:0px; 
	left:0px;/*위에 올라가는 레이어의 포지션은 top, bottom 둘 중 하나, left, right 둘 중 하나의 속성을 선택하여 잡아준다.*/
	background: rgba(0, 0, 0, 0.5);
	width:100%;
	height:100%; 
	text-align:center; 
}
.over_loading{
	width:8%;
	height:8%;
	margin-top: 15%;
	margin-bottom: 40px;
}
.over_message{
	width:23%;
	
}